<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Validação de formulário</title>
  </head>
  <body>
    <form action="/form" method="post">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        value="<%= email %>"
      />
      <%= emailError %>
      <br />
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Nome"
        value="<%= name %>"
      />
      <%= nameError %>
      <br />
      <input
        type="number"
        name="points"
        id="points"
        placeholder="Pontos"
        value="<%= points %>"
      />
      <%= pointsError %>
      <br />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
