<%-include('../../partials/header.ejs')%>
<%-include('../../partials/navbar.ejs')%>
<div class="container pb-5 ">
  <hr />
  <h2>Categorias</h2>
  <a href="/admin/categories/new" class="btn btn-success">
    Criar nova categoria
  </a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(({id, title, slug})=>{ %>
      <tr>
        <td><%= id %></td>
        <td><%= title %></td>
        <td><%= slug %></td>
        <td>
          <div class="d-flex justify-content-center align-items-center" >
            <a href="/admin/categories/edit/<%=id%>" class="btn btn-warning me-1">Editar</a>
            <form
              method="post"
              action="/categories/delete"
              onsubmit="confirmDelete(event, this)"
              style="display: inline"
            >
              <input type="hidden" name="id" value="<%=id%>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </div>
        </td>
      </tr>
      <%}) %>
    </tbody>
  </table>
</div>
<%-include('../../partials/footer.ejs')%>

<script>
  function confirmDelete(event, form) {
    event.preventDefault();
    let decision = confirm("Você quer deletar esta categoria ?");
    if (decision) {
      form.submit();
    }
  };
</script>
