<%-include('../../partials/header.ejs')%>
<%-include('../../partials/navbar.ejs')%>
<div class="container">
  <hr />
  <h2>Artigos</h2>
  <a href="/admin/articles/new" class="btn btn-success">
    Criar novo artigo
  </a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach(({id, title, slug, category})=>{ %>
        <tr>
          <td> <%= id %> </td>
          <td> <%= title %> </td>
          <td> <%= slug %> </td>
          <td> <%= category.title%> </td>
          <td>
            <form
              method="post"
              action="/articles/delete"
              onsubmit="confirmDelete(event, this)"
            >
              <input type="hidden" name="id" value="<%=id%>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%-include('../../partials/footer.ejs')%>

<script>
  function confirmDelete(event, form) {
    event.preventDefault();
    let decision = confirm("Você quer deletar este articulo ?");
    if (decision) {
      form.submit();
    }
  };
</script>
