<%-include('../../partials/header.ejs')%>
<%-include('../../partials/navbar.ejs')%>
<div class="container pb-5 ">
  <hr />
  <h2>Artigos</h2>
  <a href="/admin/articles/new" class="btn btn-success"> Criar novo artigo </a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach(({id, title, slug, category})=>{ %>
      <tr>
        <td><%= id %></td>
        <td><%= title %></td>
        <td><%= slug %></td>
        <td><%= category.title%></td>
        <td>
          <div class="d-flex justify-content-center align-items-center p-1 " >
            <a href="/admin/articles/edit/<%=id%>" class="btn btn-warning m-1">
              Editar
            </a>
            <form
              method="POST"
              action="/articles/delete"
              onsubmit="confirmDelete(event, this)"
              style="display: inline">
              <input type="hidden" name="id" value="<%=id%>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%-include('../../partials/footer.ejs')%>

<script>
  function confirmDelete(event, form) {
    event.preventDefault();
    let decision = confirm("Você quer deletar este articulo ?");
    if (decision) {
      form.submit();
    }
  }
</script>
